* {
  transition: all, 0.1s;
}
header,
div,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-size: 1rem;
}
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::placeholder {
  color: #0000003f;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.txt-center {
  text-align: center;
}
/* input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input:focus:-moz-placeholder {
  color: transparent !important;
}
input:focus::-moz-placeholder {
  color: transparent !important;
}
input:focus:-ms-input-placeholder {
  color: transparent !important;
}  */

.txt-small {
  font-size: 80%;
}
.txt-title {
  font-size: 160%;
  font-weight: 700;
  padding: 0.5rem;
}

body {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  color: #474747;
  /* background-image: url(components/assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover; */
  /* margin-top: 4rem; */
  /* height: calc(100vh - 4rem); */
}
button,
input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.158);
  border-width: 0;
  color: rgb(61, 61, 61);
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.6rem;
  margin: 0 0.3rem;
  user-select: none;
  outline: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.192);
}
button:active,
input[type="submit"]:active {
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}
button.lighter,
input[type="submit"].lighter {
  color: rgb(156, 156, 156);
  background-color: rgba(0, 0, 0, 0.055);
}
button.lighter:hover,
input[type="submit"].lighter:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
button.lighter:active,
input[type="submit"].lighter:active {
  background-color: rgba(0, 0, 0, 0.096);
}
button.dark,
input[type="submit"].dark {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}
button.dark:hover,
input[type="submit"].dark:hover {
  background-color: rgb(10, 10, 10);
}
button.dark:active,
input[type="submit"].dark:active {
  background-color: rgb(10, 10, 10);
}
.success {
  color: rgb(43, 143, 18);
  background-color: rgb(138, 238, 113);
}
.success:hover {
  background-color: rgb(127, 231, 101);
}
.success:active {
  background-color: rgb(127, 231, 101);
}
.caution {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 0, 0);
}
.caution:hover {
  background-color: rgb(216, 9, 9);
}
.caution:active {
  background-color: rgb(216, 9, 9);
}

.p-t {
  padding-top: 0.5rem;
}
.p-b {
  padding-bottom: 0.5rem;
}
.p-l {
  padding-left: 0.5rem;
}
.p-r {
  padding-right: 0.5rem;
}

.f-l {
  float: left;
}
.f-r {
  float: right;
}
.container {
  display: flex;
  margin-top: 3.5rem;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 15px;
}
.container::-webkit-scrollbar-track {
  background-color: #dadada;
  border: 6px solid #ffffff;
  border-radius: 10px;
}
.container::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 15px;
  border: 3px solid #ffffff;
}
.container::-webkit-scrollbar-thumb:active {
  background: #161616;
}
.card {
  display: flex;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 1px 6px #0000003f;
}
.single-card {
  padding: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.card-header {
  color: #868686;
  width: 100%;
  display: flex;
  font-size: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 2rem;
  padding-bottom: 1rem;
}
.card-footer {
  width: 100%;
  padding: 1rem;
  padding-top: 4rem;
}
.anim span {
  color: rgb(31, 31, 31);
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.anim span:nth-child(2) {
  animation-delay: 0.3s;
}
.anim span:nth-child(3) {
  animation-delay: 0.5s;
}
.anim span:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.loading {
  align-self: center;
  user-select: none;
}
.txt-lighter {
  color: rgba(0, 0, 0, 0.123);
}

.duel-card {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

article.card {
  width: calc(80vw - 2rem);
  height: 80vh;
  min-height: fit-content;
  padding: 2rem;
  padding-top: 3rem;
  margin: 2rem 0;
}
aside {
  width: 20vw;
  padding: 3rem 0;
}
.card-holder {
  display: flex;
  max-width: 75vw;
  min-width: 60vw;
  height: fit-content;
  flex-direction: row;
  padding-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-table-header {
  width: 100%;
  padding: 0 2rem;
}
.txt {
  color: rgb(20, 20, 20);
  font-weight: 600;
}
.card-table-header .txt {
  padding-bottom: 0.3rem;
}
a.order-card {
  color: #000;
  text-decoration: none;
}
.order-card {
  margin: 0 auto;
  word-wrap: break-word;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11rem;
  height: 11rem;
  background-color: #eeeeee;
  padding: 0.8rem;
  border-radius: 10px;
  margin: 0.5rem;
  transition: all, 0.2s;
}
.order-card:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.301);
}
.order-card:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.267);
  /* box-shadow: 0 0 0 rgba(0, 0, 0, 0); */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.377); */
}
.order-card > .date {
  font-size: 0.7rem;
  justify-self: flex-start;
  padding: 0.5rem 0 0 0.2rem;
}
.order-card > .mid > .order-no {
  font-weight: 800;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.order-card > .mid > .style-no {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  color: rgb(92, 92, 92);
  font-size: 0.6rem;
  align-self: flex-end;
  white-space: nowrap;
}
.order-card > .buyer-name {
  font-weight: 800;
  color: rgb(179, 179, 179);
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  align-self: flex-end;
}
.card-inner-btn {
  background-color: rgb(236, 180, 180);
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  position: absolute;
  margin-top: -0.2rem;
  margin-left: -2rem;
  border-radius: 50%;
  align-self: flex-end;
  transition: all, 0.2s;
  z-index: 5;
}
.card-inner-btn:hover {
  background-color: rgb(230, 0, 0);
}
main {
  /* display: flex; */
  /* justify-content: space-between; */
  padding-right: 3vw;
}
/* article {
  width: calc(80vw - 2rem);
} */
.transparent-backdrop {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.hidden {
  display: none;
}
/* --- Header --- */

header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  box-shadow: 0 2px 8px #0000003d;
  z-index: 2;
}
header > .logo {
  color: rgb(104, 104, 104);
  font-weight: 700;
  font-size: 1.3rem;
  /* width: 20vw; */
  display: inline-block;
}
header > .logo > .fas {
  padding-right: 0.8rem;
}

/* Search */

header > .search {
  display: flex;
  align-self: center;
  justify-content: center;
}
/* header > .search > .search-icon {
  color: #c26266;
  align-self: center;
  font-size: 0.8rem;
  margin-right: 1rem;
} */
header > .search > .search-input {
  background-color: rgb(236, 236, 236);
  width: 20rem;
  text-align: center;
  color: #575757;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0;
  border-radius: 5px;
  border-width: 0;
  transition: all, 0.4s;
}
header > .search > .search-input:hover {
  background-color: rgb(231, 231, 231);
  outline: 0;
}
header > .search > .search-input:focus {
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.123);
  outline: 0;
}
header > .search > .search-input::placeholder {
  color: #b9b9b9;
}
header > .search > .menu {
  font-size: 1rem;
  position: absolute;
  width: 60vw;
  background-color: #ffffff;
  margin-top: 40px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
  justify-self: center;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px -2px #00000054, 0 3px 10px #00000044;
  z-index: 2;
}
header > .search > .menu > .scrollable {
  max-height: 70vh;
  overflow-y: scroll;
}
/* Custom Scrollbar */

header > .search > .menu > .scrollable::-webkit-scrollbar {
  width: 6px;
}
header > .search > .menu > .scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}
header > .search > .menu > .scrollable::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 10px 0 0 10px;
}
header > .search > .menu > .scrollable::-webkit-scrollbar-thumb:active {
  background: #292929;
}

header > .search > .menu > .scrollable > .result {
  font-weight: bold;
  font-size: 0.8rem;
  display: block;
  padding: 0.7rem 1rem;
  margin: 0.3rem 0.5rem;
  /* border-bottom: 1px solid #00000010; */
  border-radius: 2rem;
  box-sizing: border-box;
}
header > .search > .menu > .scrollable > .result > .small {
  font-size: 90%;
  padding-left: 10px;
  float: right;
  color: rgb(172, 172, 172);
}
header > .search > .menu > .scrollable > .result:hover {
  background-color: #00000010;
}

/* Account and Notification Buttons */

header > .nav-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

/* Account */
header > .nav-btn > .account {
  display: flex;
  justify-content: flex-end;
}
header > .nav-btn > .account > .account-btn {
  background-color: rgb(236, 236, 236);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 1.5rem;
  margin: 0 0.3rem;
  border-radius: 20px;
  text-align: right;
  box-shadow: 0 0 8px #0000000f;
  display: flex;
  justify-content: flex-end;
  transition: all, 0.5s;
}
header > .nav-btn > .account > .account-btn:hover {
  background-color: rgb(216, 216, 216);
}
header > .nav-btn > .account > .account-btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}
header > .nav-btn > .account > .menu {
  position: absolute;
  top: 0;
  right: 1rem;
  min-width: 18rem;
  background-color: #ffffff;
  margin-top: 50px;
  padding: 1.2rem;
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 2px 4px -2px #00000054, 0 3px 10px #00000044;
}
header > .nav-btn > .account > .menu > .name-tag {
  color: #161616;
  font-weight: bold;
  padding: 0.3rem 0;
  padding-bottom: 0;
  box-sizing: border-box;
}
header > .nav-btn > .account > .menu > .btn {
  display: flex;
}
header > .nav-btn > .account > .menu > .btn > button {
  color: #4e4e4e;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  padding: 0.8rem 0;
  margin-top: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
  outline: none;
  transition: all, 0.5s;
}
header > .nav-btn > .account > .menu > .btn > button:hover {
  background-color: rgb(238, 238, 238);
}
header > .nav-btn > .account > .menu > .btn > button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}

/* Notification */
header > .nav-btn > .notification > .notification-btn {
  background-color: rgb(219, 219, 219);
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0.3rem;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px #0000000f;
}
header > .nav-btn > .notification > .notification-btn:hover {
  background-color: rgb(216, 216, 216);
}
header > .nav-btn > .notification > .notification-btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}

header > .nav-btn > .notification > .notification-btn > .notification-icon {
  font-size: 0.8rem;
  font-weight: bold;
}

header > .nav-btn > .notification > .notification-btn > .notification-badge {
  background-color: #fb1f45;
  color: #ffffff;
  position: absolute;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000031;
}
header > .nav-btn > .notification > .menu {
  position: absolute;
  background-color: #ffffff;
  height: calc(100vh - 50px);
  top: 0;
  right: 0;
  margin-top: 50px;
  box-shadow: inset 0 2px 4px -2px #00000054, 0 3px 10px #00000044;
}
header > .nav-btn > .notification > .menu > .txt {
  font-weight: bold;
  padding: 1.5rem;
  font-size: 1.2rem;
}
header > .nav-btn > .notification > .menu > .scrollable {
  width: 100vw;
  max-width: 20rem;
  height: calc(100% - 5rem);
  display: flex;
  padding: 0 0.6rem;
  flex-direction: column;
  overflow-y: scroll;
}
header > .nav-btn > .notification > .menu > .scrollable > .card {
  color: #6b6b6b;
  width: 100%;
  display: block;
  font-size: 0.8rem;
  min-height: 6rem;
  padding: 1.2rem;
  margin: 0.3rem 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.082);
  border-radius: 5px;
  box-shadow: none;
}

header > .nav-btn > .notification > .menu > .scrollable::-webkit-scrollbar {
  width: 6px;
}
header
  > .nav-btn
  > .notification
  > .menu
  > .scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}
header
  > .nav-btn
  > .notification
  > .menu
  > .scrollable::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 10px 0 0 10px;
}
header
  > .nav-btn
  > .notification
  > .menu
  > .scrollable::-webkit-scrollbar-thumb:active {
  background: #292929;
}

/* --- Content Page --- */

.content-card {
  background: #ffffffe8;
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 1.5rem 0;
  margin-top: 3vh;
  border-radius: 20px;
  box-shadow: 0 3px 12px #0000001e;
}
.content-card > .content-scrollable {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 1.3rem;
  overflow: scroll;
  overflow-x: hidden;
}

/* Custom Scrollbar */

.content-card > .content-scrollable::-webkit-scrollbar {
  width: 7px;
}
.content-card > .content-scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}
.content-card > .content-scrollable::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 10px 0 0 10px;
}
.content-card > .content-scrollable::-webkit-scrollbar-thumb:active {
  background: #292929;
}

/* --- Side Tabs --- */

ul.side-tab {
  position: fixed;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.side-tab a {
  color: initial;
  text-decoration: none;
}
ul.side-tab li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: #797979;
  margin: 1rem 0;
  padding: 0.8rem 1rem;
  margin-left: 0.8rem;
  border-radius: 99px;
  cursor: pointer;
  transition: all, 0.4s;
}
ul.side-tab li:hover {
  background-color: rgb(245, 245, 245);
}
ul.side-tab li:active {
  background-color: rgb(235, 235, 235);
}
ul.side-tab li .text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 13.5vw;
  white-space: nowrap;
}
ul.side-tab .active li {
  color: #4e4e4e;
  font-weight: 700;
}
ul.side-tab .active li:before {
  content: "";
  color: #f1484edc;
  border-right: 4px solid #be3a3f;
  padding: 1rem 0;
  border-radius: 0 5px 5px 0;

  position: absolute;
  left: 0;
}
ul.side-tab li .fas {
  font-size: 1rem;
  position: relative;
  margin-right: 0.8rem;
  right: 2px;
  border-radius: 50%;
  z-index: 1;
}

/* --- Auth Page --- */

.auth-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.auth-card {
  max-width: 22rem;
  flex-direction: column;
  padding: 0;
}
.auth-header {
  background-color: rgb(224, 224, 224);
  color: rgb(83, 83, 83);
  border-radius: 15px 15px 0 0;
  padding: 2.5rem;
  text-align: center;
  user-select: none;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.109);
}
.auth-header .txt-small {
  color: rgb(155, 155, 155);
}

.auth-card .alert {
  background-color: rgb(219, 66, 66);
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.auth-form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
}
.auth-form input {
  font-weight: bold;
  background-color: rgb(231, 231, 231);
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  border-width: 0;
  border-radius: 5px;
  outline: 0;
  transition: all, 0.2s;
}
.auth-form input:focus {
  background-color: rgb(218, 218, 218);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.123);
}

/* This will remove the ugly yellow backgroud color after auto filling in Chrome  */
input.autofill-color {
  -webkit-box-shadow: inset 0 0 0px 1000px rgb(231, 231, 231);
}
input.autofill-color:focus {
  -webkit-box-shadow: inset 0 0 0px 1000px rgb(218, 218, 218);
}

.auth-form > .btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.auth-form > .btn-container button {
  background-color: transparent;
  color: rgb(83, 83, 83);
  font-weight: bold;
  border-width: 0;
  text-align: center;
  padding: 0.8rem 1.5rem;
  margin: 0 1rem;
  border-radius: 5px;
  outline: 0;
  user-select: none;
}
.auth-form > .btn-container button:hover {
  background-color: #00000010;
}
.auth-form > .btn-container button:active {
  background-color: #00000018;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}
.auth-form > .btn-container button:disabled {
  color: rgb(182, 182, 182);
}
.auth-form > .btn-container button:hover:disabled {
  background-color: transparent;
}

/* Overview */
.overview-card {
  margin-left: 0.4rem !important;
  z-index: 1;
}
.overview-card .order-no {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.overview-card .style-no {
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(153, 153, 153);
  padding-bottom: 2rem;
}
.style-no .fas {
  padding-right: 0.2rem;
}

table.overview {
  font-size: 1rem;
  padding: 0;
  padding-bottom: 1rem;
}
/* table.overview tr {
  padding: 5rem;
} */
table.overview tr td:nth-child(even) {
  padding-left: 10vw;
}
table.overview td {
  padding: 0.4rem 0;
}

button.more-btn {
  text-align: left;
  font-weight: 600;
  color: #f7c4c6;
  background-color: transparent;
  border-width: 0;
  outline: 0;
  padding: 0;
  padding-top: 2rem;
  /* padding-left: 0.5rem; */
  margin-bottom: 1rem;
  transition: all, 0.5s;
}
button.more-btn:hover {
  color: #e79a9d;
}
button.more-btn > .fas {
  margin-left: 0.5rem;
  position: relative;
  top: 1px;
}

table.table-data {
  width: 100%;
  padding: 0;
  margin: 5px;
  border-collapse: collapse;
}
table.table-data th,
table.table-data td {
  border: 1px solid #636363;
}
table.table-data th {
  font-size: 0.7rem;
  font-weight: 700;
  background-color: #636363;
  color: white;
  padding: 4px;
}
table.table-data td {
  font-size: 0.75rem;
  font-weight: 600;
  box-sizing: border-box;
  padding: 4px;
  height: 20px;
}

table.table-data td > input {
  width: 100%;
  height: 100%;
  /* padding: 0.5vw 1px; */
  /* padding-left: 2px !important; */
  /* padding-right: 2px !important; */
  margin: 0;
  border-width: 0;
  /* padding: 4px; */
  box-sizing: border-box;
  cursor: cell;
  outline: none;
}
table.table-data td > input[type="number"] {
  -moz-appearance: textfield;
}
table.table-data td > input[type="number"]::-webkit-inner-spin-button,
table.table-data td > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
table.table-data td > input[type="date"] {
  width: 100%;
  font-size: 2vw;
  padding: 0px;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin: 0;
  border-width: 0;
  -moz-appearance: textfield;
}
table.table-data td > input[type="date"]::-webkit-inner-spin-button,
table.table-data td > input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
table.table-data td > input:hover {
  position: relative;
  border-radius: 0;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 5px #636363a1;
  z-index: 1;
}
table.table-data td > input:focus {
  position: relative;
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 5px rgb(65, 190, 92);
  z-index: 2;
}
table.table-data td > select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  outline: none;
}
table.table-data td > select:hover {
  position: relative;
  border-radius: 0;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 5px #636363a1;
  z-index: 1;
}
table.table-data td > select:focus {
  position: relative;
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 5px rgb(65, 190, 92);
  z-index: 2;
}
.auto-filled {
  background: rgba(238, 242, 21, 0.371);
}
.span-prefix {
  color: rgb(163, 163, 163);
  font-size: 0.8rem;
  padding: 2px 0.5vw;
  margin-right: -1vw;
  /* position: absolute; */
  z-index: 3;
  box-sizing: border-box;
}
.span-prefix + input {
  display: none;
  padding-left: 2.5vw !important;
}
.span-suffix {
  padding: 2px 0.5vw;
  position: absolute;
  margin-left: -1vw;
  z-index: 3;
  box-sizing: border-box;
}
