.dashboard-content-footer {
  padding-top: 2rem;
  text-align: right;
}
.dashboard-card-container {
  width: 100%;
  max-width: 30rem;
}

.custom-ReactPasswordStrength {
  font-family: Lato !important;
  font-size: 1rem !important;
  padding: 0 !important;
  border-width: 0 !important;
}
.custom-ReactPasswordStrength .ReactPasswordStrength-strength-bar {
  width: 100% !important;
  top: -9px !important;
  right: 0 !important;
  border-radius: 0 0 0.2rem 0.2rem;
}
.custom-ReactPasswordStrength .ReactPasswordStrength-strength-desc {
  display: none;
  padding: 0.4rem !important;
  width: fit-content !important;
  top: 0.65rem !important;
  right: -5rem !important;
  text-align: right;
  float: left;
  /* box-shadow: 0 0.1rem 0.2rem #00000054; */
  border-radius: 0.3rem;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc  {
  display: initial;
}
.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc  {
   background-color: #e9c4be;
}
.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc {
  background-color: #cadfec;
}
.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc {
  background-color: #c8e7d7;
}
.custom-ReactPasswordStrength-form-input {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard-card-container {
    width: 100%;
    max-width: 100%;
  }
}