.dashboard-content-footer {
  padding-top: 2rem;
  text-align: right;
}
.dashboard-card-container {
  width: 100%;
  max-width: 30rem;
}

.custom-ReactPasswordStrength {
  font-family: Lato !important;
  font-size: 1rem !important;
  padding: 0 !important;
  border-width: 0 !important;
}
.custom-ReactPasswordStrength .ReactPasswordStrength-strength-bar {
  width: 100% !important;
  top: -9px !important;
  right: 0 !important;
  border-radius: 0 0 0.2rem 0.2rem;
}
.custom-ReactPasswordStrength .ReactPasswordStrength-strength-desc {
  display: none;
  padding: 0.4rem !important;
  width: fit-content !important;
  top: 0.65rem !important;
  right: -5rem !important;
  text-align: right;
  float: left;
  /* box-shadow: 0 0.1rem 0.2rem #00000054; */
  border-radius: 0.3rem;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc  {
  display: initial;
}
.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc  {
   background-color: #bee9e7;
}
.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc, .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc {
  background-color: #cadfec;
}
.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc {
  background-color: #c8e7d7;
}
.custom-ReactPasswordStrength-form-input {
  margin-bottom: 0;
}
label.item_list_label {
  font-size: 1.5rem;
  color: rgb(148, 148, 148);
  font-weight: 800;
  padding-left: 1.5rem;
}
ul.item_list {
  min-width: 30rem;
  list-style-type: none;
  background-color: var(--background-offset);
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}
.item_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0em;
  border-top: 1px dashed #acacac;
}
.item_list li:first-child {
  border-width: 0;
}
.item_list li .txt {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
@media (max-width: 768px) {
.card-body {
  padding: 1.2rem !important;
}
ul.item_list {
  min-width: 80vw;
  list-style-type: none;
  background-color: var(--background-offset);
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}
  .dashboard-card-container {
    width: 100%;
    max-width: 100%;
  }
}