.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;
  overflow-y: scroll;
}
/* Custom Scrollbar */
.modal-container::-webkit-scrollbar {
  width: 0px;
}
.modal {
  height: fit-content;
  min-width: 20rem;
  padding: 2rem 0;
  margin: 2rem 0;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

/* Body */
.modal .modal-body {
  padding: 0 2rem;
}
.modal-menu {
  background-color: var(--background-offset);
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
/* Header */
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #e7e7e7;
}
/* Footer */
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  /* margin-top: 2rem; */
}
.modal .modal-footer .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.modal .modal-footer .btn .fas {
  margin-left: 0.5rem;
}
