.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;
  overflow-y: scroll;
}
/* Custom Scrollbar */
.modal-container::-webkit-scrollbar {
  width: 0px;
}
.modal {
  height: fit-content;
  min-width: 20rem;
  padding: 0.5rem 0;
  margin: 2rem 0;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

/* Header */
.modal .modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 0.35rem 0.35rem 0 0;
}
.modal .modal-header .txt {
  letter-spacing: 0.6px;
}
.modal .modal-header .btn {
  margin: 0;
}
/* Body */
.modal .modal-body {
  padding: 0 2rem;
}
.modal-body .body-header {
  width: calc(100% + 4rem);
  background-color: var(--offset-light);
  margin: 0 -2rem;
  margin-bottom: 1rem;
}
.modal-body .body-header .txt {
  padding: 1rem 2rem;
}
.modal-body .body-header .btn {
  padding: 1rem 2rem;
}
.modal-body .body-content {
  padding: 0.5rem;
}
.modal-body .body-content-footer {
  display: flex;
  justify-content: center;
  margin: 0 -1rem;
  margin-top: 1.5rem;
}
.modal-body .body-content-footer .btn {
  width: 100%;
}

/* Footer */
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  /* margin-top: 2rem; */
}
.modal .modal-footer .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.modal .modal-footer .btn .fas {
  margin-left: 0.5rem;
}
