table.datatable {
  font-size: 0.9rem;
  width: 100%;
  padding: 0;
  /* margin: 1.5rem 0; */
  margin-bottom: 1.5rem;
}
.inline-datatable-conatiner {
  display: grid;
  /* grid-template-columns: 1fr 1fr auto; */
  grid-auto-flow: column;
  grid-gap: 1.5rem;
}
table.datatable th,
table.datatable td {
  border: 1px solid #949494;
}
table.datatable th {
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: #949494;
  color: #ffffff;
  padding: 0.4rem 0;
}
table.datatable td {
  font-weight: 600;
  min-width: 1rem;
  height: 0.5rem;
  min-height: 0.5rem;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
/* table.static-datatable td {
} */
table.datatable td .filled-txt {
  background-color: var(--background-offset);
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.5rem;
}
table.datatable td .auto-filled-txt {
  background-color: #e0f0ad;
}
table.datatable td.input-prefix .filled-txt {
  /* width: calc(100% - 2rem); */
  background-color: transparent;
  /* background-color: blue; */
  /* display: inline-block; */
  /* margin-left: -1px; */
}
table.datatable td.input-prefix .span-prefix {
  color: var(--txt-offset);
  font-size: 0.8rem;
  padding-right: 0.5rem;
  font-weight: 800;
}

/* .span-prefix {
  color: rgb(163, 163, 163);
  padding: 2px 0.5vw;
  margin-right: -1vw;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
}
.span-prefix + input {
  display: none;
  padding-left: 2.5vw !important;
} */

/* Input */
table.datatable td > input {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  border-width: 0;
  cursor: cell;
  box-sizing: border-box;
  outline: none;
  transition: box-shadow 100ms;
}
table.datatable td > input:hover {
  position: relative;
  border-radius: 0.1rem;
  box-shadow: 0 0 0 0.2rem #797979;
  z-index: 2;
}
table.datatable td > input:focus {
  box-shadow: inset 0 0 0 0.2rem #d1d1d1;
  z-index: 1;
}

/* Selet input */

table.datatable td > select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  outline: none;
}
table.datatable td > select:hover {
  position: relative;
  border-radius: 0;
  box-shadow: 0 0 0 0.2rem #636363a1;
  z-index: 1;
}
table.datatable td > select:focus {
  position: relative;
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 5px rgb(65, 190, 92);
  z-index: 2;
}

/* Remove number input arrow */
table.datatable td > input[type="number"] {
  -moz-appearance: textfield;
}
table.datatable td > input[type="number"]::-webkit-inner-spin-button,
table.datatable td > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
table.datatable td > input[type="date"] {
  width: 100%;
  font-size: 2vw;
  padding: 0px;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin: 0;
  border-width: 0;
  -moz-appearance: textfield;
}
table.datatable td > input[type="date"]::-webkit-inner-spin-button,
table.datatable td > input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
