/* .bi-gri .static-datatable {
  width: 96vw;
  border: 0.5rem solid var(--background);
  box-shadow: var(--elevation-3);
  overflow-x: scroll;
  transition: box-shadow var(--transition);
} */
/* .bi-gri .static-datatable:hover {
  box-shadow: var(--elevation-20);
} */
/* .bi-gri .static-datatable::-webkit-scrollbar {
  height: 8px;
}
.bi-grid .static-datatable::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}
.bi-grid .static-datatable::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 0.4rem;
}
.bi-grid .static-datatable::-webkit-scrollbar-thumb:active {
  background: #161616;
} */
.static-datatable .filled-txt {
  font-size: 80% !important;
  background-color: var(--background) !important;
}
