.loading-order-card:hover {
  box-shadow: var(--elevation-0);
}
.loading-order-card:active {
  box-shadow: var(--elevation-0);
}
.loading-card-txt {
  background-color: #d8d8d8 !important;
  color: #d8d8d8 !important;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  box-sizing: border-box;
}
