
.duo-grid article table.extradata {
  width: 50%;
  margin-bottom: 2rem;
}
.duo-grid article table.extradata td {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem;
  padding-right: 2rem;
  text-align: right;
}
.duo-grid article table.extradata td.header {
  background-color: #f1f1f1;
  border: 0.2rem solid #ffffff;
  padding: 0.5rem 1rem;
  text-align: center;
}
.duo-grid article table.extradata td.tdata {
  text-align: center !important;
  padding: 0;
}
.duo-grid article table.extradata tr td:first-child {
  color: #747474;
  padding-right: 10rem;
  text-align: left;
}
.duo-grid article .static-table {
  width: calc(100% + 6rem);
  margin: 0 -3rem;
  border: 0.3rem solid #dfdfdf;
  border-radius: 0.6rem;
  padding: 1rem;
  overflow-x: scroll;
}
.duo-grid article .static-table table {
  min-width: 100%;
}
.duo-grid article .static-table::-webkit-scrollbar {
  height: 10px;
}
.duo-grid article .static-table::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}
.duo-grid article .static-table::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 0.4rem;
}
.duo-grid article .static-table::-webkit-scrollbar-thumb:active {
  background: #cecece;
}
.duo-grid article .static-table table .span-suffix {
  float: right;
  margin-left: auto;
}
@media (max-width: 768px) {
  .duo-grid article.card-body .static-datatable {
    font-size: 90% !important;
  }
  .duo-grid article .static-table {
    border-width: 0;
    margin: 0;
  }
  .duo-grid article .static-table::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@media only print {
  .print-single {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  table.extradata td {
    font-size: 10px !important;
    font-weight: 700 !important;
    padding: 5px !important;
    padding-right: 10px;
    text-align: right;
  }
  .static-table {
    /* width: calc(100% + 6rem); */
    width: 100%;
    margin: 0 !important;
    border-width: 0;
    border-radius: 0;
    padding: 2px !important;
  }
  .static-table th {
    font-size: 10px !important;
    min-width: 5px;
    font-weight: 400;
    /* width: auto; */
    padding: 5px !important;
  }
  .static-table td {
    font-size: 1px !important;
    font-weight: 400;
    min-width: 1px !important;
    height: 1px !important;
    /* width: auto; */
    padding: 1px !important;
  }
  .static-table .filled-txt {
    font-size: 10px !important;
    height: 1px !important;
    /* width: auto; */
    padding: 2px 5px !important;
  }
  .span-prefix, .span-suffix {
    font-size: 10px !important;
    padding: 0 !important;
  }
  .span-prefix {
    padding-right: 2px !important;
  }
  .span-suffix {
    padding-left: 2px !important;
  }
}
