.mono-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  overflow-x: hidden;
}
.card-container {
  background-color: transparent;
  box-shadow: var(--elevation-0);
  display: flex;
  width: 100%;
  max-width: 90vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-footer .btn-more-custom {
  border-radius: 2rem;
  padding: 0.8rem 1.2rem;
}
.card-footer .btn-more-custom:hover {
  box-shadow: 0 0 0 0.3rem #00000036;
}
.card-footer .btn-more-custom:active {
  box-shadow: 0 0 0 0.2rem #00000036;
}

/* Custom Orders and Drafts*/

.custom-card-container-orders .card-header {
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
.custom-card-container-orders .card-header .header-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.custom-card-container-orders .card-body {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* .custom-card-container-drafts .card-body {
  justify-content: flex-start;
} */

/* For Draft */

.custom-card-container-draft .card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.custom-card-container-draft .card-header .draft-header-btns {
  width: 100%;
  text-align: right;
}
.custom-card-container-draft .card--header .draft-header-metadata {
  font-size: 1rem;
  font-weight: 250;
  padding-top: 2rem;
}
.custom-card-container-draft .card-header .draft-header-metadata .txt-prop {
  font-weight: 800;
}
.custom-card-container-draft .card-footer {
  justify-content: flex-end;
}
.custom-card-container-draft .card-body {
  display: flex;
  width: 100%;
  justify-content: center;
}
.custom-card-container-draft .card-body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.draft-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.draft-header table td {
  vertical-align: middle;
}
.extradata_table input.form-input {
  margin-bottom: 0.5rem;
}

/* div.innerTable {
  width: 0;
}
.innerTable .innerTable_input {
  width: 100%;
}
.innerTable input.form-input2 {
  background-color: red;
  width: 100% !important;
} */
td.half-td {
  max-width: 5rem;
}
input.custom-form-input {
  width: 100% !important;
  min-width: 100% !important;
  background-color: var(--offset-light);
  font-size: 1rem;
  font-weight: 700;
  color: #1b1b1b;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: box-shadow var(--transition);
}
.custom-form-input:focus {
  box-shadow: 0 0 0 0.2rem #dddddd;
}
table.overview td {
  font-size: 1rem;
  font-weight: 700;
}
table.overview td:first-child {
  color: #747474;
  padding: 0.6rem;
  padding-right: 5rem;
}
input.extradata_table {
  width: 100%;
  border: 1px solid #949494;
  margin: 0;
  height: 100%;
  padding: 0.4rem 0.5rem;
}

@media (max-width: 768px) {
  .mono-grid {
    padding: 0;
    padding-top: 0;
  }
  .card-container {
    min-width: 100vw;
    box-shadow: 0 0 0 #000000;
  }
  /* Drafts %& Orders */
  /* .custom-card-container-orders .card-body,
  .custom-card-container-drafts .card-body {
    justify-content: flex-start;
  } */
  /* Draft */
  .custom-card-container-draft .order-cards-header .header-title {
    margin-bottom: 0;
  }
  .draft-footer {
    justify-content: center;
  }
  .custom-card-container-draft .card-header .draft-header-btns {
    text-align: center;
  }
  .custom-card-container-draft .card-header .draft-header-btns .btn {
    width: calc(50% - 1rem);
  }
  .custom-card-container-draft .card-footer {
    justify-content: center;
  }
  .custom-card-container-draft .card-footer .btn {
    width: calc(50% - 1rem);
  }
}
