.editable-table {
  background-color: var(--background);
  display: block;
  width: clac(100% - 0.5rem);
  padding: 0.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.336);
  overflow-x: scroll;
}

.custom-card-container-draft .card-body .editable-table {
  background: #fff;
  background-color: var(--background);
  width: 96vw;
  border: 0.5rem solid var(--background);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--elevation-3);
  border: 5px solid transparent;
  overflow-x: scroll;
  transition: box-shadow var(--transition);
}
.custom-card-container-draft .card-body .editable-table:hover {
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.178), var(--elevation-10);
}
.custom-card-container-draft .card-body .editable-table::-webkit-scrollbar {
  height: 8px;
}
.custom-card-container-draft
  .card-body
  .editable-table::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}
.custom-card-container-draft
  .card-body
  .editable-table::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 0.4rem;
}
.custom-card-container-draft
  .card-body
  .editable-table::-webkit-scrollbar-thumb:active {
  background: #161616;
}
.custom-card-container-draft .card-body .editable-table .auto-filled-txt {
  min-width: 100%;
  max-width: 5rem;
  height: 100%;
  border: 0.2rem solid transparent;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.custom-card-container-draft
  .card-body
  .editable-table
  .auto-filled-txt::-webkit-scrollbar {
  height: 2px;
}
.custom-card-container-draft
  .card-body
  .editable-table
  .auto-filled-txt::-webkit-scrollbar-track {
  border-radius: 99px;
}
.custom-card-container-draft
  .card-body
  .editable-table
  .auto-filled-txt::-webkit-scrollbar-thumb {
  background: #2222226e;
  border-radius: 9px;
}
.custom-card-container-draft
  .card-body
  .editable-table::-webkit-scrollbar-thumb:active {
  background: #161616;
}

@media (max-width: 768px) {
  .custom-card-container-draft .card-body .editable-table {
    width: calc(100vw - 0.8rem);
    border: 0.4rem solid var(--background);
    box-shadow: none;
  }
  .custom-card-container-draft .card-body .editable-table:hover {
    box-shadow: initial;
  }
}
